* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", sans-serif;
}

body {
    height: 100%;
    background-color: #d1ebf7;
}

header {
    margin-top: 36px;
    margin-bottom: 10px;
    display: block;
    justify-content: center;
    align-items: center;
}

header h1 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 300;
}

header h1 img {
    width: 36px;
    margin-left: 24px;
}

form {
    display: block;
    justify-content: center;
    align-items: center;
}

form input {
    padding: 6px;
    font-size: 14px;
    background-color: #E8F0FE;
    border-radius: 10px;
    border-color: #608596;
}

form button {
    padding: 8px;
    margin-left: 6px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #d1ebf7;
}

form button:hover {
    background-color: #bee1f1;
}

#form {
    display: inline-flex;
}

button img {
    width: 24px;
}

li {
    background-color: #E8F0FE;
    border-radius: 10px;
    padding-left: 8px;
    padding-block: 8px;
    background-color : #E8F0FE;
    padding: 8px;
    border: 1px solid #608596;
}

ul li {
    margin-top: 10px;
    list-style: none;
    /*remover as bolinhas das imagens*/
    font-size: 15px;
    cursor: pointer;
}

ul img {
    width: 16px;
    float: right;
    margin-right: 2px;
    cursor: pointer;
}

.container {
    display: block;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#background {
    position: fixed;
    margin: auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-size: cover;
    z-index: -1;
}

.background img {
    margin-top: 150px;
}